form {
    width: 35vw;
    height: 75vh;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    z-index: 20;
    background-color: black;
}